body {
    padding-top: 50px;
    background: #F3F3F3;
}

#main-content {
    background: #FFF;
    padding: 30px;

    -webkit-border-radius: 13px;
    -moz-border-radius: 13px;
    border-radius: 13px;
}

/* MENU */
#main-menu li {
    padding: 20px 10px;
    border-bottom: 1px solid #DDD;
}
#main-menu a {
    display: block;
    color: red;
}

/* PRODUCTS */
.product {
    display: table-row;
    padding-bottom: 20px;

}
.product-image {
    width: 30%;
    padding: 10px;
}